.DS_Store
__MACOSX/.DS_Store

static/.DS_Store
static/css/.DS_Store
static/images/.DS_Store
static/videos/.DS_Store
static/images/album-covers/.DS_Store
static/images/icons/.DS_Store

data/.DS_Store
data/lyrics/.DS_Store


public/.DS_Store
templates/.DS_Store
tmp/.DS_Store

