{% extends 'layout.html' %}
{% block content %}
<h1 class="title">ABOUT</h1>
<p>In the last 20 years I have made 20, hopefully wise and beautiful albums. They were written, recorded, performed and produced by me, in my studio. It is extraordinary to me, that any of this should have happened. </p>
<br>

<p>I have spent exhaustive amounts of time dedicated to the complexities and simplicities of words and music. I began writing songs as a teenager and as I grew, the music I made became more substantial. I have many files, filled with literally thousands of handwritten songs and their chord changes hanging on the walls of my studio dating back to 1987.</p>
<br>

<p>I make music as a painter paints or a poet writes. Melodies can be as simple as ‘Happy Birthday’ or as complex as Beethoven’s ‘Pathetique Sonata’. But mostly music is simple which is why there is so much of it. Lyrics follow the same design, they too are everywhere, but wonderful lyrics are few. Yet some have the power to speak for you, to console you and explain the many currencies of our tempestuous humanity. I have dedicated myself to this.</p>
<br>

<p>	But should we kill the interaction between players, the conversation between bass and piano and the human voice, en route to simpler paths, then all birds in all the trees shall lose their fucking song!</p>
<br>
<br>
<p align="right">Website by Thelonious Omori</p>
{% endblock %}