{% extends 'layout.html' %}
{% block content %}
<h1 class="title">CAUSES</h1>
<div class="row">
    <div class="col-md-12">
        <div class="text-box1">
            <p class="cause-title">The Wall</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7esR0heM0bOZWYNfhf27Ae?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p class="cause-description">But this is not a game or a film nor a bar room spit fight. This is the rage of the lowest seam of Humanity, once more against itself. Until all traces of love are dissolved in a fresh pile of death - in this, the new medieval court of human blood.
            <br>
            The ticking you hear is not a clock!</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-box1">
            <p class="cause-title">With Wolves</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2rkFVjlcxhm91FAolKBTer?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p class="cause-description">And all or words & our songs & our prayers & our protests & our love & our speaches & our bombs & our tears & our hate & our greed & our laws & our hope & their Youth & that war & the fear & the hurt & the death....... Even a child could answer this.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-box1">
            <p class="cause-title">Got Daddy Gone & War Child</p>
            <p class="cause-description">We cannot it seems, live in a world without war. But we can bring up our children knowing that the future depends on the actions of their generation.<br>
                I first became aware of the charity War Child way back in the '90's with their charity album 'Help'. Since then my songs have followed War Child from Kinshasa to Sarajevo, from the Sudan to Afghanistan and recently from Iraq to Syria. <a href="http://www.deanomori.com/films/">Dear Syria</a>. With the release of my new album 'Got Daddy Gone' I wanted to bring a poet's vapour to the appalling war in Syria and the ongoing plight of the children and refugees from Afghanistan, Sudan, Eritrea etc...... On their long and monstrous road to a new home.<br>
                The profits from the album 'Got Daddy Gone' will go to War Child. So whether you download the album or you stream it, you will help the child of war.<br>
                Thank you</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2yDKqas95SjsfMOqorgp3u?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
<div class="col-md-12">
        <div class="text-box1">
            <p class="cause-title">Music is the Blood of Revolution</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5uiM1bNN23dp3B70whILmD?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p class="cause-description">In 2010 I was approached by Amnesty International and asked if I would be interested in working with them after they had seen my short film <a href="https://vimeo.com/12359577">Freedom Enough'.</a><br>
                In 2011 I wrote the song, ‘LOVE IS A HUMAN RIGHT’ in support of the Amnesty International campaign. They gave me their prized logo to use, which was an honour for a protest singer. But at the time as I moved between labels ‘Love Is A Human Right’ left the pubescent streaming platforms and eventually disappeared into my back catalogue of unreleased songs. In September 2023 I was reminded of the song once more on an Amnesty poster for LOVE IS A HUMAN RIGHT in the era of gender fluidity. So I dug out the track and I played it to my two children who, as it turned out, had sung and played on the original. And Sophie’s voice.... as always, brings everything to life!<br>
                Times may have changed but the meaning has not!.</p>
        </div>
    </div>   
</div>
{% endblock %}