{% extends 'layout.html' %}
{% block content %}
<h1 class="title">FILM</h1>
<div class="row">
    <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9 mb-4 film-container">
            <iframe src="https://player.vimeo.com/video/115284914?" class="embed-responsive-item film" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row film-container">
    <div class="col-md-6">
        <iframe class="film" src="https://player.vimeo.com/video/193512973?" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/100348889?portrait=0" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/524887017?portrait=0" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/12359577?portrait=0" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/918681017?portrait=0" width="100%" height="281" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6">
        <iframe class="film" src="https://player.vimeo.com/video/4428024?portrait=0" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/315123119" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/662361383" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/45781810?h=2bf52b18cb" width="100%" height="281" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
        <iframe class="film" src="https://player.vimeo.com/video/3904922" width="100%" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
</div>
{% endblock %}